<?xml version="1.0" encoding="UTF-8"?>
<!--
  /*
  * Copyright 2023 Google LLC
  *
  * Licensed under the Apache License, Version 2.0 (the "License");
  * you may not use this file except in compliance with the License.
  * You may obtain a copy of the License at
  *
  *     https://www.apache.org/licenses/LICENSE-2.0
  *
  * Unless required by applicable law or agreed to in writing, software
  * distributed under the License is distributed on an "AS IS" BASIS,
  * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  * See the License for the specific language governing permissions and
  * limitations under the License.
  */
  -->
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!-- <property name="LOG_FILE" value="/tmp/log/logger.log"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d [%15.15t] [${HOSTNAME}] %-5p %-40c{40} - %m%n</pattern>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <param name="FileNamePattern" value="${LOG_FILE}.%i"/>
            <param name="MinIndex" value="1"/>
            <param name="MaxIndex" value="20"/>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>500000000</MaxFileSize>
        </triggeringPolicy>
    </appender> -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d){faint} %clr(${PID:- }){magenta} %clr([%15.15t]){magenta} %clr(%-5p) %clr(%-40c{40}){cyan} - %m%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <!-- <if condition='isDefined("LOG_TO_FILE")'>
            <then>
                <appender-ref ref="FILE"/>
            </then>
        </if> -->
    </root>
</configuration>